<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="//placehold.it/720x350"
          alt="Card image cap"
        />
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional conftent. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
