body {
  background: #eee;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  max-width: 1200px;
}

header {
  background: #563d7c;
  padding: 2em 1em;
  color: #fff;
  margin-bottom: 2em;
  h1 {
    font-weight: 200;
  }
}

.card {
  background: #fff;
  flex: 1 0 500px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
  }
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(25% - 1em);
  }
}
