<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card" *ngFor="let artist of artists">
        <img
          class="card-img-top"
          src="{{ artist.picture_medium }}"
          alt="Card image cap"
        />
        <div class="card-block">
          <a href="#" routerLink="/artist"
            ><h4 class="card-title">{{ artist.name }}</h4></a
          >
          <p class="card-text">Number of fans : {{ artist.nb_fan }}</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
