<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<form class="mx-2 my-auto d-inline w-100">
  <input
    type="text"
    class="form-control border border-right-5 inputSearch "
    placeholder="Search for an artist..."
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
  />
</form>

<div class="search-artists">
  <div *ngFor="let artist of artists$ | async">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img
          class="img-fluid img-rounded searchImage"
          src="{{ artist.picture_small }}"
          alt=""
          routerLink="/artist/{{ artist.id }}"
        />
        <a
          routerLink="/artist/{{ artist.id }}"
          style="color : black; font-size : 20px; "
        >
          {{ artist.name }}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card" *ngFor="let artist of artists">
      <a [routerLink]="['/artist/', artist.id]">
        <img
          class="card-img-top"
          src="{{ artist.picture_medium }}"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a [routerLink]="['/artist/', artist.id]"
            ><h4 class="card-title">{{ artist.name }}</h4></a
          >
        </h5>
        <p class="card-text">
          Number of fans : {{ artist.nb_fan | thousandSuff }}
        </p>
      </div>
    </div>
  </div>
</div>
