<div class="container">
  <button (click)="goBack()" class="btn">
    <i class="fa fa-home"></i> Home
  </button>
  <div class="row">
    <div class="col-sm-6" style="border: 1px solid white ;">
      <ng-container *ngIf="artist">
        <h1 class="display-3">{{ artist.name }}</h1>
        <hr />
        <u
          ><h3 class="">{{ artist.nb_fan | thousandSuff }} fans</h3></u
        ><br />
        <img
          class="img-responsive img-thumbnail"
          src="{{ artist.picture_medium }}"
          alt=""
          style="border-radius: 10%;"
        />
      </ng-container>
    </div>

    <div class="col-sm-6" style="border: 1px solid white">
      <h1 class="display-6">Top Tracks</h1>
      <br />
      <ng-container *ngIf="tracks">
        <div *ngFor="let track of tracks">
          <h3>
            {{ track.title }}
          </h3>
        </div>
        <br />
      </ng-container>
    </div>
  </div>
  <hr />

  <div class="container">
    <h1 class="display-3">Albums</h1>
    <hr />
    <br />
    <div class="card-deck" *ngIf="albumlist">
      <div class="card" *ngFor="let album of albumlist">
        <a>
          <img
            class="card-img-top"
            src="{{ album.cover_medium }}"
            alt="Card image cap"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a>
              <h4 class="card-title">
                {{ album.title }}
              </h4>
            </a>
          </h5>
          <p class="card-text">{{ album.release_date | date: "yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
