<div *ngFor="let track of tracks">
  <h2>{{ track.title }}</h2>
</div>

<div class="container">
  <div class="row">
    <div
      class="col-sm-6"
      style="background-color:white; border: 1px solid black"
    >
      <h1 class="display-6">{{ artist.name }}</h1>
      <u
        ><p class="lead">{{ artist.nb_fan }} fans</p></u
      >
    </div>
    <div
      class="col-sm-6"
      style="background-color:white; border: 1px solid black"
    >
      <h1 class="display-6">Top Tracks</h1>
      <br />
      <div *ngFor="let track of tracks">
        <h2>{{ track.title }}</h2>
      </div>
    </div>
  </div>

  <div>
    <div class="card-deck" *ngIf="albumlist">
      <div class="card" *ngFor="let album of albumlist">
        <a>
          <img
            class="card-img-top"
            src="{{ album.cover_medium }}"
            alt="Card image cap"
          />
        </a>
        <div class="card-block">
          <a
            ><h4 class="card-title">{{ album.title }}</h4></a
          >
          <p class="card-text lead">{{ album.release_date }}</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
