<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/">
        <img
          src="https://www.pngitem.com/pimgs/m/531-5317821_deezer-logo-png-transparent-png.png"
          alt="Deezer Logo"
          class="responsive-img"
          style="width: 50px; height: 50px;"
      /></a>

      <a routerLink="/" class="navbar-brand mb-0" style="color: black;"
        >Deezer</a
      >
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="searchData" />
      <button
        class="btn btn-dark my-2 my-sm-0"
        type="submit"
        routerLinkActive="active"
        [routerLink]="['/search/', 'Gackt']"
      >
        Search
      </button>
    </form>
  </div>
</nav>
