<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img
        src="https://www.pngitem.com/pimgs/m/531-5317821_deezer-logo-png-transparent-png.png"
        alt="Deezer Logo"
        class="responsive-img"
        style="width: 50px; height: 50px;"
      />
      <a routerLink="/" class="navbar-brand">Deezer</a>
    </div>
    <form class="form-inline my-2 my-lg-1">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" />
      <button class="btn btn-dark my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
